<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@384&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
    <title><%- title %></title>
</head>
<body style="background-color: #f5f0f6;">
    <%- include('./partials/header.ejs') %>



    <div class="container" style="background-color: rgba(0, 0, 0, 0.162); ">
		<main>
			

			<div class="new-product-section shop " >
                 
				<div class="product-content " >
                   
                    <% if(Products.length > 0){%>
                    <%Products.forEach(product => { %>
					<div class="product">
						<a href="#">
							<img src="<%= product.productImage%>">
						</a>
						<div class="product-detail">
							<h3><%= product.productName %></h3>
							<h6><%= product.productDescription %></h6>
                              <a href="/addToCart/<%= product._id %>" class=" btn btn-outline-warning "  tabindex="-1" role="button" aria-disabled="true">Add to Cart</a>
                              <input type="hidden" id="add" value="<%= product._id %>">
							<p><%= product.productPrice%> <span class="text-success">SR</span></p>
						</div>						
					</div>
                    <%})}%>
				</div>				
			</div> <!-- New Product Section -->		
		</main> <!-- Main Area -->
	</div>
    
    <%- include('./partials/footer.ejs') %>

    
    
</main>
</body>
</html>